* {
    box-sizing: border-box;
}

body {
    margin: 50px;
    font-size: 17px;
}

.container {
    width: calc(100% - 20px);
    height: 200px;
    background-color: #CCC;
    color: blue;
    font-size: 30px;
    border: 3px solid green;
}
    /*HERANÇA quando eu coloco tudo que esta dentro da DIV como um fundo, todas elas pegam por exemplo a parte strong se quero que 
    a strong nao pegue essa herança tenho que fazer separado conforme modelo abaixo*/
.container strong {
    color: blueviolet;
    border: 3px solid black;
}

/*AULA #2 ESPECIFICIDADE*/
/* Isso se fala quando voce tem uma div com uma classe e colocar algum atributo na classe mas se colocar na div nao mudaria nada
e que mesmo mudando as classes ou atributos continuam iguais.
eles trabalham sempre a especificidade de cima para baixo, o que esta antes tem mais "poder"
e a ultima propriedade de tal elemento que ganha os parametros*/

/*AULA #3 CASCATA*/
/*tenho uma configuracao no CSS uma no cabeçalho e uma direto no parametro...
exemplificando qual vai permanecer a cor do item e a cor do parametro! */